/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* User Auth and Splash Page */

body{
    margin: 0px;
}


.AllTreks{
    
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #808080;
    position: relative;
}
.splashHeader{
    text-align: center;
}

.splashMessage{
    position: absolute;
    top: 204px;
    right: 22%;
    width: 55%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 39px;
    text-shadow: 2px 2px #020000;
    text-align: center;
}
.splashH3{
    color: rgb(4, 31, 4);
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.splashPtag{
    text-align: center;
    font-size: 23px;
    width: 100%;
    max-width: 620px;
    margin: -23px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.splashBottom{
    height: 150px;
}




.image{
    width: 100%
}



.signup{
       position: relative;
    color: white;
    background-color: #219ad8;
    padding: 10px;
    border-radius: 8px;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 10px;
}

.login{
    color: #219ad8;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logout{
    color: #219ad8;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.welcomeMsg{
    text-emphasis: none;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    position: absolute;
    top: 9px;
    display: flex;
    right: 106px;
    font-size: 19px;

    
}
.navBar{
    position: absolute;
    top: 18px;
    right: 1%;
    display: flex;
}

.authForm {
    flex-direction: column;
    position: absolute;
    top: 135px;
    left: 30%;
    right: 30%;
    text-align: center;
    display: flex;
    background: #5b70c18c;
}
.authForm input{
   border-radius: 5px;
    padding: 15px;
    padding-inline-end: 11%;
    margin: 0px 27px;
    width: -webkit-fill-available;
    border-color: #f0f8ff00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

}

.authForm button{
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
    text-decoration: bold;
    background-color: #428a13;
    margin: 10px 27px;
    border-color: #428a1300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
.authForm h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    font-weight: 550;
}

.formInput{

    padding-bottom: 15px;
}

.formMessage{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.oppLink{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.authBackground {   
    width: 100%;
    height: 50%;
}

.authErrors{
    color: #670000;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    
}

/* hikes css */
