/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* User Auth and Splash Page */

body{
    margin: 0px;
}


.AllTreks{
    
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #808080;
    position: relative;
}
.splashHeader{
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    margin: 17px 642px;
}

.splashMessage{
    position: absolute;
    top: 204px;
    right: 22%;
    width: 55%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 39px;
    text-shadow: 2px 2px #020000;
    text-align: center;
}
.splashH3{
    color: rgb(4, 31, 4);
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.splashPtag{
    text-align: center;
    font-size: 23px;
    width: 100%;
    max-width: 620px;
    margin: -23px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.splashBottom{
    height: 150px;
}




.image{
    width: 100%
}



.signup{
       position: relative;
    color: white;
    background-color: #219ad8;
    padding: 10px;
    border-radius: 8px;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 10px;
}

.login{
    color: #219ad8;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logout{
    color: #219ad8;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.welcomeMsg{
    text-emphasis: none;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    position: absolute;
    top: 9px;
    display: flex;
    right: 106px;
    font-size: 19px;

    
}
.navBar{
    position: absolute;
    top: 18px;
    right: 1%;
    display: flex;
}

.authForm {
    flex-direction: column;
    position: absolute;
    top: 135px;
    left: 30%;
    right: 30%;
    text-align: center;
    display: flex;
    background: #5b70c18c;
}
.authForm input{
   border-radius: 5px;
    padding: 15px;
    padding-inline-end: 11%;
    margin: 0px 27px;
    width: -webkit-fill-available;
    border-color: #f0f8ff00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

}

.authForm button{
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
    text-decoration: bold;
    background-color: #428a13;
    margin: 10px 27px;
    border-color: #428a1300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
.authForm h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    font-weight: 550;
}

.formInput{

    padding-bottom: 15px;
}

.formMessage{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.oppLink{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.authBackground {   
    width: 100%;
    height: 50%;
}

.authErrors{
    color: #670000;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    
}




/* Autocomplete */

.splashSearch{
    position: absolute;
        left: 498px;
    top: 356px;

}
.splashSearchInput{
    border-radius: 8px;
    padding: 10px 87px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border-color: transparent;
}

.splashSearchButton{
    
       border-radius: 8px;
    padding: 10px 41px;
    color: white;
    background: #305844;
    border-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.hide{
    background: white;
    margin: 0px;
    border-radius: 8px;
}
.otherHide{
    background: white;
}

.searchItem{
    list-style-type: none;
     font-size: 18px;
}
.searchItemLink{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* National Park styling */




.hikes{
    display: flex;
    justify-content: center;
    border: red;
    padding: 0px 111px;
}

.hikeLink{
    position: absolute;
    display: flex;
    text-decoration: none;
    left: 431px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hikeImg{
    position: absolute;
       border-radius: 8px;
    height: 192px;
    margin-right: 24px;
    min-width: 288px;
    width: 288px;
        left: 124px;
}

.hikeAttributes{
    position: absolute;
    left: 430px;
    bottom: 72px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.summary{
    position: absolute;
    bottom: 36px;
    left: 430px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.otherTest{
    justify-content: center;
    display: flex;
    /* position: absolute; */
}

.otherSearchBar{
    border-radius: 8px;

}
.otherSearchItem{
    text-decoration: none;
    color: black;
    list-style-type: none;

}


.hikes{
    display: flex;
    height: 224px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.08), 0 0 4px 0 rgba(0,0,0,.08);
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 16px;
}

.difficulty{
    background-color: #768ebe;
    border-radius: 8px;
    padding: 1px 7px;
    margin: 0px 1px;
    color: white;
}



/* hike styling  */
.otherTest{
    position: absolute;
     
}

.hikeShowImg{
    height: 600px
}

.hikeShow{
        position: absolute;
        left: 23%;
        width: 500px;
}

.hikeShowName{
    color: white;
    position: absolute;
    top: 465px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.hikeDifficulty{
    background: #6d8ac7;
    position: absolute;
    top: 500px;
    border-radius: 8px;
    color: white;
    padding: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}


.hikeSummaryStuff{
    display: flex;
    flex-direction: column;
}

.SummaryDeclaration{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;

}

.hikeSummary{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

}

.hikeShowAttributes{
    display: flex;
    flex-direction: row;
}

.length{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    /* padding: 0px 14px; */
    padding-right: 14px;;
}

.elevation{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.hikeShowDescription{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.hikeShowDescriptionDeclaration{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}


.rating{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.reviewRating{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.reviewDescription{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

#trailhead{
    /* background-image: image-url("trailhead.png"); */
     background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}

#combo-trailhead{
    /* background-image: image-url("combo-trailhead.png"); */
     background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}

#trail-end{
    /* background-image: image-url("end-point.png"); */
     background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}

.marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}



/*National Park */

.nationalParkName{
    display: flex;
    justify-content: center;
        font-size: 32px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -.3px;
    color: #414141;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nationalParkHikeList{
    margin: 10vh 0vh;
}

.nationalParkHike{
    display: flex;
    height: 224px;
    width: 85%;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 8%), 0 0 4px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 16px;
    margin: 4vh 15vh
}

.nationalParkHikeLink{
    display: flex;
    text-decoration: none;
    color: #414141;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.nationalParkHikeImg{
    border-radius: 8px;
}

.nationalParkHikeAttributes{
    margin: 2vh 4vh;
    /* display: flex;
    align-content: column; */
}

.nationalParkHikeName{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #414141;
    font-size: 18px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    width: 100%;
    margin: 0vh 0vh;
}

.nationalParkHikeDifficultyEasy{
    background-color: #69a041;
    color: #fff;
    width: 5vh;
    padding: 0px 6px;
    border-radius: 8px;
}

.nationalParkHikeDifficultyModerate{
    background-color: #4bafe1;
    color: #fff;
    width: 11vh;
    padding: 0px 6px;
    border-radius: 8px;
}

.nationalParkHikeDifficultyHard{
    background-color: #676767;
    color: #fff;
    width: 6vh;
    padding: 0px 6px;
    border-radius: 8px;
}

.nationalParkHikeLength{
    
}

.nationalParkHikeElevationGain{
    
}

.nationalParkHikeSummary{
    
}

