/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Splash Page */ 

body{
    margin: 0px;
}


.AllTreks{
    
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #808080;
    position: relative;
}

.splashMessage{
    position: absolute;
    top: 204px;
    /* top: 20vh */
    right: 22%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

}

.splashMessage > h1{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 55px;
    text-shadow: 2px 2px #020000;
    text-align: center;
}
.splashH3{
    color: rgb(4, 31, 4);
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.splashPtag{
    text-align: center;
    font-size: 23px;
    width: 100%;
    max-width: 620px;
    margin: -23px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.splashBottom{
    height: 150px;
}

.image{
    width: 100%
}

.links{
    display: flex;
    justify-content: center;
}







/* User Auth */

.signup{
       position: relative;
    color: white;
    background-color: #219ad8;
    padding: 10px;
    border-radius: 8px;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 10px;
}

.login{
    color: #219ad8;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logout{
    color: #219ad8;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    border: 3px #219ad8 solid;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.authForm {
    flex-direction: column;
    position: absolute;
    top: 135px;
    left: 30%;
    right: 30%;
    text-align: center;
    display: flex;
    background: #5b70c18c;
}
.authForm input{
   border-radius: 5px;
    padding: 15px;
    padding-inline-end: 11%;
    margin: 0px 27px;
    width: -webkit-fill-available;
    border-color: #f0f8ff00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

}

.authForm button{
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
    text-decoration: bold;
    background-color: #428a13;
    margin: 10px 27px;
    border-color: #428a1300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
.authForm h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    font-weight: 550;
}

.formInput{

    padding-bottom: 15px;
}

.formMessage{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.oppLink{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.authBackground {   
    width: 100%;
    height: 50%;
}

.authErrors{
    color: #670000;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

/* NavBar */

.isLoggedIn{
    display: flex;
}

.isLoggedIn-notLoggedIn {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: column;
    position: absolute;
    right: 1%;
    top: 3%;
}


.navBar{
    /* position: absolute;
    top: 18px;
    right: 1%; */
    display: flex;
}

.splashHeader{
    display: flex;
    justify-content: center;
  
}

.splashHeader > div {
    display: flex;
}

.welcomeMsg{
    /* position: relative;
    display: inline-block; */
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 1vh;
}

.welcomeMsgContainer:hover .profileNavBar{
    display: block;
}

.profileNavBar{
    display: none;
    text-decoration: none;
    color: black;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profileNavBar:hover{
    background-color: green;
    color: white;
}




/* Search Bar */

.searchBarComponent{
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute; */
}
.searchBarForm{
    padding: 17px;
    border-radius: 8px;
    background: rgb(255,255,255 / 37%);

}

.searchBarInput{
    border-radius: 8px;
    border-color: white;
    padding: 20px 38px;
    font-size: 20px;
    width: 500px;
    outline: 0;
    border: 0;

}

/* .searchBarForm:active:focus .searchResults{
    display: block;
} */

.noResults{
     list-style: none;
     text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 2vh 2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.searchItem{
    list-style: none;
    margin: 2vh 0vh;
    padding: 4px 0px;
}

.searchItem:hover{
    background-color: green;
    color: white
}

.searchItem:hover .searchItemLink{
    color: white;
}

.searchItem:hover .searchResultNaitonalParkIcon{
    color: orange;
    background-color: white;
}

.searchItem:hover .searchResultHikeIcon{
    color: green;
    background-color: white;
}

.searchItemLink{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0vh 2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.searchResults{
    /* display: none; */
    background: white;
}

.searchResultNaitonalParkIcon{
    text-decoration: none;
    color: white;
    background-color: orange;
    font-size: 20px;
    padding: 6px 7px;
    border-radius: 6px;

}

.searchResultHikeIcon{
    text-decoration: none;
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 6px;
}


/* Hike Show */


.hikeShowPhotoContainer{
        display: flex;
        justify-content: center;
}

.hikeShowPhoto{
    width: 1000px;
    height: 500px;
}

.hikeShowName-Difficulty{
   display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 480px;
    left: 305px;
}

.hikeShowName{

    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px black;
    color: white;
    position: relative;
}


.hikeShowSummary-Map{
    display: flex;
    /* flex-direction: column; */
}

.hikeShowSummary{
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid #E6E6E6;
    margin: 0% 0%;
    padding: 3% 0%;
    padding-bottom: 3%;
    font-size: 20px;
    width: 60%;
   
    margin-left: 242px;

}
.hikeShowMap{
    display: flex;
    /* margin: -21vh 161vh; */
}
.hikeShowSummary-Attributes{
    width: 822px;
}

.hikeShowAttributeTitles{
    display: flex;
    /* justify-content: space-around; */
       margin-left: 242px;

   /* padding: 5vh 0vh; */
   padding-top: 2%;
}
.hikeShowAttributes{
    display: flex;
    /* justify-content: space-around; */
       margin-left: 242px;

   /* padding: 5vh 0vh; */
   padding-bottom: 2%;
    width: 60%;
    border-bottom: 1px solid #E6E6E6;
}
.hikeShowLength{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.hikeShowRoutetype{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0vh 26%;
    font-size: 18px;

}

.hikeShowElevationGain{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;

}

.hikeShowLengthTitle{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hikeShowRoutetypeTitle{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0vh 24%
}

.hikeShowElevationGainTitle{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description-photo-reviews{
    margin-left: 242px;
}
.description-relevantHikes-reviews-photos{
    width: 73%;
    display: flex;
}
.hikeShowDescription{
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 66%;
    font-size: 20px;
    padding-top: 2%;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 3vh;
}

.hikeShowReviewOrPhoto{
    display : flex;
    flex-direction: row;
    padding-top: 2%;

    margin-bottom: 3%;
    justify-self: space-around;
    width: 66%;
    background: #80808054;
}

.photoSelector{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0% 26%;
}

.photoSelector:hover {
    cursor: pointer;
    color: #428a13!important;
}

.reviewSelector{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.reviewSelector:hover{
    cursor: pointer;
    color: #428a13!important;
}



.reviewFormRating{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.hikeShowReviewHeader{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;

}


.hikeShowPhotoHeader{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.hikeShowPhotoSentence{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    padding-bottom: 10px;
}

.hikeShowPhotos{
   display:flex;
   flex-direction: row; 
    border-top: 1px solid #E6E6E6;
    padding-top: 50px;
    width: 500px;
}

.hikePhoto{
    margin-right: 20px;
}



.hikeShowReviews{
    padding-top: 2%;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 3%;
}

.reviewStars{
    display: flex;
}

.hikeShowRelevantHikes{
    padding-top: 219px;
    margin-left: -170px;
}

.relevantHike{
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px 0px;
}

.relevantHikeLink{
    text-decoration: none;
    color: black;
}

.relevantHikeName{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    color: #414141;
    font-size: 18px;
    font-weight: 700;
   
}

.relevantHikeDifficultyEasy{
    background-color: #69a041;
    color: #fff;
    width: 5vh;
    padding: 0px 6px;
    padding-right: 12px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.relevantHikeDifficultyModerate{
    background-color: #4bafe1;
    color: #fff;
    width: 10vh;
    padding: 0px 6px;
    padding-right: 18px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.relevantHikeDifficultyHard{
    background-color: #676767;
    color: #fff;
    width: 5vh;
    padding: 0px 6px;
    padding-right: 13px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.relevantHikeLength{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}


.hikeShowReview{
    width: 69%;
}

.reviewUsername{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border-top: 1px solid #E6E6E6;
    padding-top: 5px;

}
.reviews{
    margin-left: 10px;
}

.reviewHikeLink{
    
    text-decoration: none;
    color: black;
}

.reviewHikeName{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border-top: 1px solid #E6E6E6;
    padding-top: 5px;
    text-decoration: underline;

}
.reviewDescription{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
}

.reviewFormRating{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.reviewFormDescription{
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
}

.reviewFormDescriptionTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;   
}

.reviewFormDescriptionInput{
    width: 450px;
    height: 100px;
    resize: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px; 
    border-radius: 8px;
}

.reviewFormDescriptionButton{
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: #428A13;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: white;   
}
.reviewFormDescriptionButton:hover{
    color: #428A13;
    background-color: white;
    cursor: pointer;
    box-shadow: 1px 1px ;
}

.hikeShowPhotoInput::-webkit-file-upload-button {
  content: 'Select Photo';
  display: inline-block;
    background: #428a13;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.hikeShowPhotoSubmit{
      content: 'Select Photo';
  display: inline-block;
    background: #428a13;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}


#pictureModal{
    width: 100%;
    height: 100%;
    background: rgb(146,145,145 / 37%);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;    
    display: none;
    overflow-x: auto;
}

.pictureInModal{
    width: auto;    
    height: 750px;
}

.pictureModalContents{
    /* display: flex;
    flex-direction: column; */
}

.closeModalButton{
     display: inline-block;
    background: #428a13;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}





#trailhead{
    /* background-image: image-url("trailhead.png"); */
     background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}

#combo-trailhead{
    /* background-image: image-url("combo-trailhead.png"); */
     background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}

#trail-end{
    /* background-image: image-url("end-point.png"); */
     background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}

.marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 0 8px 0 rgba(0,0,0,.08);
}



/*National Park */

.nationalParkPhotos{
    display: flex;
    overflow-x: auto;
    width: 85%;
    margin: 2vh 15vh;}
.nationalParkPhoto{
    margin: 0vh 1vh;
}
.nationalParkPhoto > img{
    border-radius: 8px;
}

.nationalParkName{
    display: flex;
    justify-content: center;
        font-size: 32px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -.3px;
    color: #414141;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nationalParkHikeList{
    margin: 10vh 0vh;
}

.nationalParkHike{
    display: flex;
    height: 224px;
    width: 85%;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgb(0,0,0 / 8%), 0 0 4px 0 rgb(0,0,0 / 8%);
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 16px;
    margin: 4vh 15vh
}

.nationalParkHikeLink{
    display: flex;
    text-decoration: none;
    color: #414141;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.nationalParkHikeImg{
    border-radius: 8px;
}

.nationalParkHikeAttributes{
    margin: 2vh 4vh;
    /* display: flex;
    align-content: column; */
}

.nationalParkHikeName{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #414141;
    font-size: 18px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    width: 100%;
    margin: 0vh 0vh;
}

.nationalParkHikeDifficultyEasy{
    background-color: #69a041;
    color: #fff;
    width: 5vh;
    padding: 0px 6px;
    padding-right: 12px;
    border-radius: 8px;
}

.nationalParkHikeDifficultyModerate{
    background-color: #4bafe1;
    color: #fff;
    width: 10vh;
    padding: 0px 6px;
    padding-right: 18px;
    border-radius: 8px;
}

.nationalParkHikeDifficultyHard{
    background-color: #676767;
    color: #fff;
    width: 5vh;
    padding: 0px 6px;
    padding-right: 13px;
    border-radius: 8px;
}

.nationalParkHikeLength{
    margin: 1vh 0vh;
    
}

.nationalParkHikeElevationGain{
    margin: 1vh 0vh;
}

.nationalParkHikeSummary{
}



/* Profile */


.profileUsername{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    border-bottom: 2px solid black;
}

.profileReviewOrPhoto{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profileReviewTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.profileReviewTitle:hover{
    
    cursor: pointer;
}

.profilePhotoTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.profilePhotoTitle:hover{
    cursor: pointer;
}

.profileHikePhoto{
    border-radius: 8px;
}

.profilePhotos{
    display: flex;
    flex-wrap: wrap;
}

.profilePhoto{
    margin-left: 15px
}

.photoHikeName{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding-top: 5px;
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;

}


